<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>questions</key>
	<array>
		<array>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string>image0</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string>image1</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string>image2</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string>image3</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string>image4</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string>image5</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string>image6</string>
		</array>
		<array>
			<string>who is above person</string>
			<string>bran lara</string>
			<string>stever job</string>
			<string>william jobs</string>
			<string>someone else</string>
			<string>image7</string>
		</array>
		<array>
			<string>what is the name</string>
			<string>chem lo </string>
			<string>satya</string>
			<string>image1</string>
			<string>someone else</string>
			<string>image8</string>
		</array>
		<array>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string></string>
			<string>image9</string>
		</array>
	</array>
</dict>
</plist>
